
.header{

margin:  40px;
padding: 30px;
box-shadow: 3px 3px 10px;
display: flex;
justify-content: center;
}

body{
font-size: 15px;
font-family: 'Poppins', sans-serif;
margin: 30 px;
}
.caja{

margin: 10px;
padding: 24px;
margin-left: 50px;
height: 50;
width: 20%;
box-shadow: 3px 3px 20px;
border-radius: 50px;
}

.logo{
display: flex;
justify-content: flex-end;
}

.caja2{

margin: 100px;
padding: 24px;
margin-left: 900px;

height: 5px;
box-shadow: 3px 3px 20px;
border-radius: 50px;
height: 50%;
margin-right: 200px;
margin-inline-start: 60%;


}
.logo2{
display: flex;
justify-content: flex-end;
}
.caja3{

margin-left: 600px;
height: 100px;
display: flex;
width:20%;
box-shadow: 3px 3px 50px ;
border-radius: 50px;
margin-inline-start: 40px;
scroll-margin-block-start: 10px;
padding:24px
}

.logo3{
display: flex;
justify-content: flex-end;
padding-left: 50%;
}
